.App {
  text-align: center;
}

canvas {
  background-color: antiquewhite;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
}

.logo-link {
  margin-top: 0.5rem !important;
}

.exit {
  display: none !important;
}
